<h1>Bem-vindo à Página Inicial</h1>

<p>Aqui você pode cadastrar:</p>

<ul>
  <li><%= link_to 'Imóveis', new_imovel_path %></li>
  <li><%= link_to 'Moradores', new_morador_path %></li>
  <li><%= link_to 'Taxas', new_taxa_path %></li>
  <li><%= link_to 'Leituras', new_leitura_path %></li>
</ul>